<div class="row g-3 mb-4">

  <div class="col-md-3">
    <div class="x-card metric-card">
      <div class="metric-icon bg-primary">
        <i class="bi bi-bar-chart"></i>
      </div>
      <div>
        <small>Total</small>
        <h2>{{ total }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="x-card metric-card">
      <div class="metric-icon bg-danger">
        <i class="bi bi-tools"></i>
      </div>
      <div>
        <small>Corretivas</small>
        <h2>{{ corretivas }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="x-card metric-card">
      <div class="metric-icon bg-success">
        <i class="bi bi-shield-check"></i>
      </div>
      <div>
        <small>Preventivas</small>
        <h2>{{ preventivas }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="x-card metric-card">
      <div class="metric-icon bg-warning">
        <i class="bi bi-clock"></i>
      </div>
      <div>
        <small>Andamento</small>
        <h2>{{ andamento }}</h2>
      </div>
    </div>
  </div>

</div>