<form method="POST" action="/manutencoes/nova">

  <input type="date" name="data" class="form-control mb-2">

  <input name="numero_frota" placeholder="Frota" class="form-control mb-2">
  <input name="bau" placeholder="Baú" class="form-control mb-2">

  <input name="tipo_veiculo" placeholder="Tipo Veículo" class="form-control mb-2">
  <input name="tipo_servico" placeholder="Tipo Serviço" class="form-control mb-2">
  <input name="tipo_atendimento" placeholder="Tipo Atendimento" class="form-control mb-2">

  <input name="tipo_manutencao" placeholder="Tipo Manutenção" class="form-control mb-2">

  <select name="status" class="form-control mb-2">
    <option>andamento</option>
    <option>concluido</option>
  </select>

  <input name="cliente" placeholder="Cliente" class="form-control mb-2">

  <textarea name="observacao" class="form-control mb-2"></textarea>

  <button class="btn btn-success">Salvar</button>

</form>