{% extends "base.html" %}

{% block content %}

<h3>Cadastro de Usuário</h3>

<a href="/" class="btn btn-secondary mb-3">
    ← Voltar
</a>

{% if erro %}
  <div class="alert alert-danger">{{ erro }}</div>
{% endif %}

{% if sucesso %}
  <div class="alert alert-success">{{ sucesso }}</div>
{% endif %}

<div class="card p-4" style="max-width: 500px;">

<form method="POST">

  <input name="nome" placeholder="Usuário" class="form-control mb-2" required>

  <input name="email" placeholder="Email" class="form-control mb-2">

  <input type="password" name="senha" placeholder="Senha"
         class="form-control mb-2" required>

  <button class="btn btn-success w-100">Cadastrar</button>

</form>
</div>

{% endblock %}