{% extends "base.html" %}

{% block content %}

<h3>Novo Cliente</h3>

<a href="/clientes/" class="btn btn-secondary mb-3">
    ← Voltar
</a>

<div class="card p-4" style="max-width: 500px;">

<form method="POST">

    <div class="mb-2">
        <input name="nome" placeholder="Nome" class="form-control">
    </div>

    <div class="mb-2">
        <input name="telefone" placeholder="Telefone" class="form-control">
    </div>

    <div class="mb-2">
        <input name="email" placeholder="Email" class="form-control">
    </div>

    <button class="btn btn-success w-100">
        Salvar Cliente
    </button>

</form>

</div>

{% endblock %}