{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Clientes</h3>

    <a href="/clientes/novo" class="btn btn-success">
        ➕ Novo Cliente
    </a>
</div>

<a href="/" class="btn btn-secondary mb-3">
    ← Voltar
</a>

<div class="card p-3">

    {% if clientes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clientes %}
                <tr>
                    <td>{{ c.nome }}</td>
                    <td>{{ c.telefone }}</td>
                    <td>{{ c.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum cliente cadastrado.</p>
    {% endif %}

</div>

{% endblock %}